@{
    ViewData["Title"] = "Search";

    var subHeading = new SubHeadingModel { Title = "SEARCH", Subtitle = "HOME. PRODUCT SEARCH" };

}
<partial name="~/Views/Shared/Partials/Sections/_SubHeading.cshtml" model="@subHeading" />
<h1>SEARCH UNDER CONSTRUCTION</h1>