@model UserProfileModel



<div class="getalluser">
<p title-3>AccountName: @Model.Email | ID: @Model.Id </p>
<partial name="~/Views/Shared/Partials/Individuals/Users/_UpdateUser.cshtml" model="@Model" />
@{//<partial name="~/Views/Shared/Partials/Individuals/Users/_RemoveUser.cshtml" model="@Model" />
}
</div>



