<section class='header container'>
    <partial name="~/Views/Shared/Partials/Individuals/HeaderIndividuals/_Logo.cshtml" />
    <partial name="~/Views/Shared/Partials/Individuals/HeaderIndividuals/_HeaderLinks.cshtml" />
    <partial name="~/Views/Shared/Partials/Individuals/HeaderIndividuals/_LoginSearch.cshtml" />
    <partial name="~/Views/Shared/Partials/Individuals/HeaderIndividuals/_Cart.cshtml" />
</section>
