        <section class='showcase'>
            <div class='container showcasecontainer'>
                <div class='content'>
                    <div>
                        <p class='title-2'>WELLCOME TO BMARKETO SHOP</p>
                        <p class='title-1'>Exclusice Chair gold Collection</p>
                        <button class='btn'>SHOP NOW</button>
                    </div>
                </div>
                <img src="~/Images/showcase-img.png" alt="showcase images" />
            </div>
        </section>