@model SubHeadingModel   
 
<div class='subheading'>
      <div class='container'>
        <div class='titleheading'>
          @Model.Title
        </div>
        <div class='titlesubheading'>
            @Model.Subtitle
        </div>
      </div>
    </div>