        <section class='topsellingproducts'>
            <div class='container-fluid'>
                <p class='title-3'>Top selling products in this week</p>
        <partial name="~/Views/Shared/Partials/Individuals/Carousel/_ProductCarousel.cshtml" />

            </div>
        </section>