        <div class='category container'>
            <p>All</p><p>/</p>
            <p>Bags</p><p>/</p>
            <p>Dress</p><p>/</p>
            <p>Decoration</p><p>/</p>
            <p>Essentials</p><p>/</p>
            <p>Interior</p><p>/</p>
            <p>Laptop</p><p>/</p>
            <p>Mobile</p><p>/</p>
            <p>Beauty</p>

        </div>