        <div class='imagedetails'>
            <div class='bigpic'><img src=~/Images/showcase-img.png alt="..." /></div>
            <div class='smallpics'>
                <img src=~/Images/black-set.png alt="..." />
                <img src=~/Images/black-set.png alt="..." />
                <img src=~/Images/black-white-set.png alt="..." />
                <img src=~/Images/gray-tshirt.png alt="..." />
            </div>
        </div>