<div class='navbarextrainfoproduct'>
<ul class="nav justify-content-center">
    <li class="nav-item">

        <a class="nav-link active" aria-current="#description" href="#ProductDescription">DESCRIPTION</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#additionalinfo">ADDITIONALINFO</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#reviews">REVIEWS (0)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#shippinganddelivery">SHIPPINGANDDELIVERY</a>
    </li>
</ul>
 
</div>