@model ProductDescriptionModel
@{
    var product = Model.Cards.FirstOrDefault(x => x.SKU == Model.Sku);
    if (product.ImgUrl == null!)
    {
        product.ImgUrl = "Logopic.png";
    }
}

<div class='productdescription'>
    <div class='container'>
        <div class="headercontainer"><h4>@product.ShortDescription</h4></div>
        <div class='textimage'>
            <div class='content'>
                <p>
                    @product.LongDescription
                </p>
            </div>
            <div class="col">
                <div class="card">
                    <img src="~/Images/@product.ImgUrl" class="card-img-top" alt="@product.Name" />
                </div>
            </div>
            @*@<partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />*@
        </div>
    </div>
</div>