@{
    ViewData["Title"] = "Product";

    var subHeading = new SubHeadingModel { Title = "SHOP", Subtitle = "HOME. SALE" };

    var products = Model;


}
<partial name="~/Views/Shared/Partials/Sections/_SubHeading.cshtml" model="@subHeading" />


<h1>SALE UNDER CONSTRUCTION</h1>