<section class='contactform'>
    <div class='container'>
        <div class='content'>
            <p>Write something</p>
            <div class="row">
                <div class="col">
                    <label for="inputname" class="form-label">Your Name*</label>
                    <input type="text" class="form-control" id='inputname' aria-label="Name" />
                </div>
                <div class="col">
                    <label for="inputmail" class="form-label">Your Email*</label>
                    <input type="text" class="form-control" id='inputmail' aria-label="Email" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="inputphone" class="form-label">Phone number</label>
                    <input type="text" class="form-control" id='inputphone' aria-label="Phonenumber" />
                </div>
                <div class="col">
                    <label for="inputcompany" class="form-label">Company (optional)</label>
                    <input type="text" class="form-control" id='inputcompany' aria-label="Company" />
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" />
                <label class="form-check-label" for="gridCheck">
                    Save my name, and website in this browser for the next time I comment
                </label>
            </div>
            <button class='btn'>Submit</button>
        </div>
    </div>
</section>