@model ProductDescriptionModel

@{
    var products = Model.Cards.ToList();
    var list1 = new List<ProductCardModel>();
    var list2 = new List<ProductCardModel>();
    if (Model.Cards.Count > 4)
        for (int i = 0; i < 5;)
        { list1.Add(products[i]); i++; }
    if (Model.Cards.Count > 9)
        for (int i = 5; i < 10;)
        { list2.Add(products[i]); i++; }

}



<section class='addcarousel'>
    <div class='container'>
        <div id="carouselExampleInterval" class="carousel slide" >
            <div class="carousel-inner">
                <div class="carousel-item active" >
                    @foreach (var product in list1)
                    {
                        <partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />
                    }
                </div>
                <div class="carousel-item" >
                    @foreach (var product in list2)
                    {
                            <partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />
                    }
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>