@model List<ProductCardModel>

@{
    var list1 = new List<ProductCardModel>();
    var list2 = new List<ProductCardModel>();
    if (Model.Count > 5)
    for(int i = 0; i < 6;)
    { list1.Add(Model[i]);i++; }
    if (Model.Count > 11)
    for (int i = 6; i < 12;)
    { list2.Add(Model[i]); i++; }

}


@{
}

<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
            @if (list1.Count != 0)
            {
            <div class="carousel-item active">
                <div class='carusel-container'>
                    @foreach (var product in list1)
                    {
                        <partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />
                    }
                </div>
        </div>}
            @if (list2.Count != 0)
            {
        <div class="carousel-item">
            <div class='carusel-container'>
                @foreach (var product in list2)
            {
                <partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />
            }
            </div>        
        </div>
            }

    </div>

    </div>
    <div class='carusel-slide-button'>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>