@{
    var products1 = new List<ProductCardModel>
    {

        new ProductCardModel {ImgUrl= "black-dress.png", ImgAlt="Black-dress", Name = "Black Dress", Price=100, DiscountPrice=80, New=true},
        new ProductCardModel {ImgUrl= "black-set.png", ImgAlt="Black-set", Name = "Black Set", Price=150, DiscountPrice=80, New=false},
        new ProductCardModel {ImgUrl= "black-white-set.png", ImgAlt="black-white-set", Name = "black-white-set", Price=100, DiscountPrice=98, New=false},
        new ProductCardModel {ImgUrl= "blue-tshirt.png", ImgAlt="blue-tshirt", Name = "blue-shirt", Price=100, DiscountPrice=80, New=false},
        new ProductCardModel {ImgUrl= "brown-sweater.png", ImgAlt="brown-sweater", Name = "brown-sweater", Price=120, DiscountPrice=90, New=true},
        new ProductCardModel {ImgUrl= "brown-watch.png", ImgAlt="brown-watch", Name = "brown-watch", Price=200, DiscountPrice=99, New=false}

    };
    var products2 = new List<ProductCardModel>
    {


        new ProductCardModel {ImgUrl= "black-white-set.png", ImgAlt="black-white-set", Name = "black-white-set", Price=100, DiscountPrice=98, New=false},
        new ProductCardModel {ImgUrl= "blue-tshirt.png", ImgAlt="blue-tshirt", Name = "blue-shirt", Price=100, DiscountPrice=80, New=false},
        new ProductCardModel {ImgUrl= "brown-sweater.png", ImgAlt="brown-sweater", Name = "brown-sweater", Price=120, DiscountPrice=90, New=true},
        new ProductCardModel {ImgUrl= "brown-watch.png", ImgAlt="brown-watch", Name = "brown-watch", Price=200, DiscountPrice=99, New=false},
        new ProductCardModel {ImgUrl= "chrome-shoe.png", ImgAlt="chrome-shoe", Name = "chrome-shoe", Price=120, DiscountPrice=90, New=true},
        new ProductCardModel {ImgUrl= "gray-tshirt.png", ImgAlt="gray-tshirt", Name = "gray-tshirt", Price=200, DiscountPrice=99, New=false}
    };
    var products3 = new List<ProductCardModel>
    {

        new ProductCardModel {ImgUrl= "black-dress.png", ImgAlt="Black-dress", Name = "Black Dress", Price=100, DiscountPrice=80, New=true},
        new ProductCardModel {ImgUrl= "black-set.png", ImgAlt="Black-set", Name = "Black Set", Price=150, DiscountPrice=80, New=false},
        new ProductCardModel {ImgUrl= "brown-sweater.png", ImgAlt="brown-sweater", Name = "brown-sweater", Price=120, DiscountPrice=90, New=true},
        new ProductCardModel {ImgUrl= "brown-watch.png", ImgAlt="brown-watch", Name = "brown-watch", Price=200, DiscountPrice=99, New=false},
        new ProductCardModel {ImgUrl= "chrome-shoe.png", ImgAlt="chrome-shoe", Name = "chrome-shoe", Price=120, DiscountPrice=90, New=true},
        new ProductCardModel {ImgUrl= "gray-tshirt.png", ImgAlt="gray-tshirt", Name = "gray-tshirt", Price=200, DiscountPrice=99, New=false}
    };
}


<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class='carusel-container'>
            @foreach (var product in products1)
            {
                <partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />
            }
        </div>
        </div>
        </div>
        <div class="carousel-item">
            <div class='carusel-container'>
            @foreach (var product in products2)
            {
                <partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />
            }
            </div>
        </div>
        <div class="carousel-item">
            <div class='carusel-container'>
            @foreach (var product in products3)
            {
                <partial name="~/Views/Shared/Partials/Individuals/_ProductCard.cshtml" model="@product" />
            }
            </div>
        </div>


    </div>
    <div class='carusel-slide-button'>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>