@{
    ViewData["Title"] = "CART";

    var subHeading = new SubHeadingModel { Title = "CART", Subtitle = "HOME. SHOPPING CART" };

}
<partial name="~/Views/Shared/Partials/Sections/_SubHeading.cshtml" model="@subHeading" />
<h1>CART UNDER CONSTRUCTION</h1>